<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <header th:replace="header::html"></header>
    <link rel="stylesheet" th:href="@{/my/css/image.css}" media="all"/>
</head>
<body>
<div>
    <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="/api/getPage?pageName=image/img-list">图片列表</a>
            <a>
              <cite>图片列表</cite></a>
          </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.href='/image/original_image/'+datas[index].id" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>

    <input id="current_page" type="hidden" th:value="${dto.getCurrentPage()}" />
    <!--上下页-->
    <div class="prev-img">
    <img id="prev-img" src="/my/image/prev.png" alt="上一页">
</div>
    <div class="next-img">
        <img id="next-img" src="/my/image/next.png" alt="下一页">
    </div>
    <!--图片-->
    <div class="drag">
        <div class="drag-box">
            <img th:src="${dto.getFile().getUrl()}" th:alt="${dto.getFile().getFileName()}" class="drag-img">
        </div>
    </div>

    <!--小图-->
    <div class="smallImg">
        <div id="smallImg-box" class="box">
            <ul id="smallImg-ul">
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    //缩略图下表
    var index = 0;
    //缩略图数组
    var datas = [];

    //当前页数
    var page = parseInt($("#current_page").val());
    //查询条数
    var limit = 10

    $(document).ready(function () {
        //得到缩略图
        get_small_img()
    })

    //下载图片
    $("#download").click(function () {
        var id = $("#id").val()
        location.href = '/file/download?id='+ id
    })

    //点击小图
    $('#smallImg-ul').on('click','li',function(){
        var _this = $(this);
        index = _this.index();
        _this.addClass('cur').siblings().removeClass('cur');
        change_src(index)
    })

    //下一张
    $(".next-img").click(function () {
        if(page * limit > count && index+1 == datas.length){
            //啥也不干，没图了
        }else
        {
            if(index == 9)
            {
                //清除所有缩略图
                $("#smallImg-ul").find("li").remove();
                index = 0
                page =page +1;
                get_small_img()
            }else
            {
                index = index + 1
                //得到下一个缩略图
                var _li = $("#smallImg-ul").children('li.'+index)
                _li.addClass('cur').siblings().removeClass('cur');
                change_src(index)
            }
        }
    })

    //下一张
    $(".prev-img").click(function () {
        if(page == 1 && index == 0)
        {
            //到顶了，也啥也不干
        }else
        {
            if(index == 0)
            {
                //清除所有缩略图
                $("#smallImg-ul").find("li").remove();
                index = 9
                page=page-1;
                get_small_img()
            }else
            {
                index = index-1
                //得到下一个缩略图
                var _li = $("#smallImg-ul").children('li.'+index)
                _li.addClass('cur').siblings().removeClass('cur');
                change_src(index)
            }
        }
    })



    //拼接缩略图的标签
    function s_html(data,i) {
        return '<li class="'+i+'"><a><img src="'+data.thumbnailUrl+'" alt="'+data.fileName+'"></a></li>'
    }

    //改变大图的src
    function change_src(i) {
        //将大图替换为加载动画
        $(".drag-img").attr('src',"/my/image/load.gif?"+Math.random())

        var temp = new Image();
        temp.className = 'drag-img'
        temp.src = datas[i].url;//只会请求一次
        // onload判断图片加载完毕，真是图片加载完毕，再赋值给dom节点
        temp.onload = function(){
            // 获取自定义属性data-src，用真图片替换假图片
            //移除原来的图片
            $(".drag-box").find("img").remove();
            $(".drag-box").append(temp)
        }
        $(".drag-img").attr('alt',datas[i].fileName)
    }

    //请求缩略图
    function get_small_img() {
        var url = "/image/list/"+page+"/"+limit
        $.ajax({
            type:'GET',
            dataType: "json",
            url:url,
            async: false,
            success:function(res){
                datas = res.datas
                count = res.count
                html = ""
                for(let i = 0;i < datas.length;i++)
                {
                    html += s_html(datas[i],i)
                }
                $("#smallImg-ul").append(html);

                //选中缩略图
                //选中当前的缩略图
                var img_name =  $(".drag-img").attr('alt')
                for(let i = 0; i< datas.length;i++) {
                    if (datas[i].fileName == img_name){
                        index = i;
                        var _li = $("#smallImg-ul").children('li.'+i)
                        _li.addClass('cur').siblings().removeClass('cur');
                        change_src(index)
                        break
                    }
                }
                if(index == 0)
                {
                    var _li = $("#smallImg-ul").children('li.'+'0')
                    _li.addClass('cur').siblings().removeClass('cur');
                    change_src(index)
                }
                if(index == 9)
                {
                    var _li = $("#smallImg-ul").children('li.'+'9')
                    _li.addClass('cur').siblings().removeClass('cur');
                    change_src(index)
                }
            },
            error:function(){
                layer.alert("错误", {icon: 5})
            }
        });
    }
</script>
</body>
</html>