<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>图片</title>
    <header th:replace="header::html"></header>
</head>

<body>
<div class="x-body">
    <input hidden name="id" id="id" th:value="${comic.id}">
    <div style="text-align: center">
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="upload" >上传图片</button>
            <div class="layui-upload-list">
                <img class="layui-upload-img" style="width: 200px; height: auto ;" id="cover">
                <p id="demoText"></p>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['upload'], function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //当前用户
        //var userId = localStorage.getItem("userId");
        //普通图片上传
        var id = $("#id").val();
        var uploadInst = upload.render({
            elem: '#upload'
            ,url: '/comic/upload' //改成您自己的上传接口
            ,data:{"id":id}
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#cover').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code != 200){
                    return layer.msg('上传失败');
                }
                //上传成功
                else {
                    layer.alert("上传成功", {icon: 6}, function () {
                        //关闭当前frame
                        xadmin.close();
                        // 可以对父窗口进行刷新
                        xadmin.father_reload();
                    });
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });

</script>
</body>
</html>