<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>漫画审核</title>
        <header th:replace="header::html"></header>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">漫画</a>
            <a>
              <cite>标签管理</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>

        <div class="layui-fluid">
            <div class="layui-row  layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form  layui-col-space1">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>

                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="delAll()" ><i class="layui-icon"></i>批量删除</button>
                            <button class="layui-btn" onclick="xadmin.open('新增标签','/tag/add')"><i class="layui-icon"></i>添加</button>
                        </div>


                        <div class="layui-card-body ">
                            <table class="layui-hide" id="table" lay-filter="member"></table>
                        </div>

                        <div class="layui-card-body ">
                            <script type="text/html" id="bar">
                                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
    <script >
        layui.use('table', function() {
            var table = layui.table;
            var form = layui.form;
            var index = layer.load(1);
            //第一个实例
            table.render({
                elem: '#table'
                , toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
                , url: '/tag/list' //数据接口
                , response: {
                    countName: 'count'
                    , dataName: 'datas' //规定数据列表的字段名称，默认：data
                    ,statusCode: 200
                }
                , page: true //开启分页
                , cols: [
                    [ //表头
                        {type: 'checkbox', fixed: "left"}
                        , {field: 'id', title: 'ID', sort: true}
                        , {field: 'name', title: '名称'}
                        , {field: 'src', title: '封面',templet:function (d) {
                            return "<a href='"+d.src+"'><img class='img' src='"+d.src+"'></a>"
                        }}
                        , {field: 'createTime', title: '上传时间'}
                        , {field: 'updateTime', title: '更新时间'}
                        , {
                        field: 'status', title: '状态', templet: function (d) {
                            var state = "";
                            if (d.status == 1) {
                                state = "<input type='checkbox' value='" + d.id + "' id='status' lay-filter='stat' checked='checked' name='status'  lay-skin='switch' lay-text='开启|关闭' >";
                            } else {
                                state = "<input type='checkbox' value='" + d.id + "' id='status' lay-filter='stat'  name='status'  lay-skin='switch' lay-text='开启|关闭' >";
                            }
                            return state;
                        }
                    }
                        , { title: '操作', toolbar: '#bar'}
                    ]
                ],
                done: function () {
                    layer.close(index) //加载完数据
                    checkPermission();
                }
            });


            //监听工具条
            table.on('tool(member)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    // xadmin.open('编辑用户信息','/user/edit/?id='+data.id,1515,700);
                }
            });

            form.on('switch(stat)', function (obj) {
                var current_user_id = obj.value;
                var status = this.checked ? '1' : '0';
                $.ajax({
                    type: 'POST',
                    url: '/tag/switchStat',
                    data: {"status": status, "id": current_user_id},
                    dataType: 'json',
                    beforeSend: function () {
                        index_wx = layer.msg('正在切换中，请稍候', {icon: 16, time: false, shade: 0.8});
                    },
                    error: function (result) {
                        layer.msg('数据异常，操作失败！');
                        table.reload('table');
                    },
                    success: function (result, status) {
                        setTimeout(function () {
                            layer.msg('操作成功！')
                        });
                    },
                    dataType: 'html'
                });


            });
        })
    </script>

<style>
    body
    {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    .layui-table-cell{
        height:150px;
        line-height: 150px;
        text-align: center;
    }
    .img{
        height: 100%;
        width: auto;
        cursor: pointer;
    }
</style>

</html>