<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置我的资料</title>
    <header th:replace="header::html"></header>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">设置我的资料</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <input type="hidden" id="userId" name="id" th:value="${sysUser.id}">

                        <div class="layui-form-item">
                            <label class="layui-form-label">角色</label>
                            <div class="layui-input-inline">
                                <select name="roleId" lay-filter="aihao" id="selectRole">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input disabled type="text" id="L_username" th:value="${sysUser.username}" name="username" required=""
                                       lay-verify="username" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_nickname" th:value="${sysUser.nickname}" name="nickname" required=""
                                       lay-verify="nickname" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" th:value="${sysUser.sex}" name="sex" value="1" title="男" checked="">
                                <input type="radio" th:value="${sysUser.sex}" name="sex" value="0" title="女">
                            </div>
                        </div>
                        <!--<div class="layui-form-item">
                            <label class="layui-form-label">头像</label>
                            <div class="layui-input-inline">
                                <input name="avatar" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址" value="http://cdn.layui.com/avatar/168.jpg" class="layui-input">
                            </div>
                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                </button>
                                <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button >
                            </div>
                        </div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_telephone" th:value="${sysUser.telephone}" name="telephone" required=""
                                       lay-verify="telephone" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                11位数字
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_email" th:value="${sysUser.email}" name="email" required="" lay-verify="email"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-input-inline">
                                <input type="text" id="L_birthday" th:value="${#dates.format(sysUser.birthday, 'yyyy-MM-dd')}"
                                       name='birthday' lay-verify="date" placeholder="yyyy-MM-dd" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-block">
                                <textarea name="description" th:text="${sysUser.description}" placeholder="请输入内容" class="layui-textarea" maxlength="255"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="update">确认修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
       ,laydate = layui.laydate;

        getAllRole(function () {
            layui.form.render('radio')
        });

        //日期
        laydate.render({
            elem: '#L_birthday'
            //,format: 'yyyy-MM-dd' //可任意组合
        });

        //自定义验证规则
        form.verify({
            nikename: function(value){
                if(value.length < 5){
                    return '昵称至少得5个字符啊';
                }
            }
            ,telephone: [/(.+){6,12}$/, '电话号码必须6到12位']
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
        });


        //监听提交
        form.on('submit(update)', function(data){
            var roleId = $('#selectRole option:selected') .val();//选中的值
            console.log(roleId)
            if (roleId == undefined || roleId.length == '') {
                layer.alert("请给该用户设置角色");
                return false;
            }

            $.ajax({
                url: "/user/edit",
                type: "POST",
                data: data.field,
                dataType: 'json',
                success: function (result) {
                    if (result.code == 500 || result.code == 5000100 || result.code == 5000101 || result.code == 5000102) {
                        layer.alert(result.msg);
                    } else {
                        layer.alert("设置成功", {icon: 6}, function () {
                            //关闭当前frame
                            xadmin.close();
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                    }

                }
            });
            return false;
        });


        function getAllRole(callback) {

            $.ajax({
                url: "/role/all",
                type: "GET",
                dataType: 'json',
                success: function (result) {
                    var html = "";
                    if (result.datas && result.datas.length > 0) {
                        for (i in result.datas) {
                            html += '<option value="'+result.datas[i].id+'">'+result.datas[i].name+'</option>'
                        }
                        $("#selectRole").append(html);
                        form.render();//重新渲染
                        getCurrentUserRole(callback);
                    }
                }
            });
        }
        function getCurrentUserRole(callback) {
            var userId = $("#userId").val();
            $.ajax({
                url: "/roleuser/getRoleUserByUserId",
                type: "POST",
                data: {
                    "userId": userId
                },
                dataType: 'json',
                success: function (result) {
                    if (result.code == 200) {
                        if (result.data) {
                            $("#selectRole option[value='"+result.data.roleId+"']").attr("selected","selected");
                            form.render();//重新渲染
                        }
                        if (callback) {
                            callback();
                        }

                        //callback&&callback()
                    }
                }
            });
        }

    });
</script>
</body>
</html>