@charset "utf-8";
body{
    background: url(/my/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
}

.login-box{
    width: 20%;
    height: auto;
    background-color: #00000060;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    padding:50px 100px;
}

.login-box h2{
    color: #ffffff90;
    margin: 5%;
}

.login-box .form .input-box{
    margin-top: 5%;

}
.login-box .form .input-box input{
    border: 0;
    width: 60%;
    font-size: 15px;
    color: #FFFFFF;
    border:none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #FFFFFF;
    padding: 5px 10px;
    margin-top: 10px;
}

.login-box .form .input-box i{
    color: #FFFFFF;
}

.login-box a{
    margin-top: 50px;
}