<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hf.friday.dao.RoleDao">
	
	<update id="updateRole">
		update sys_role t
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			update_time = #{updateTime}
		</set>
		where t.id = #{id}
	</update>

</mapper>