<!DOCTYPE html>
<head>
	<title>登录</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="my/css/login.css" type="text/css">
	<link rel="stylesheet" href="my/css/button.css" type="text/css">
	<link rel="stylesheet" href="my/css/iconfont.css" type="text/css">
	<script type="text/javascript" src="xadmin/js/jquery.min.js"></script>

</head>
<body>
<div class="login-box">
	<h2>LOGIN</h2>
	<div class="form">

		<div class="input-box">
			<i class="icon iconfont icon-account"></i>
			<input type="text" id="username"  placeholder="Username">
		</div>
		<div class="input-box">
			<i class="icon iconfont icon-password"></i>
			<input type="password" id="password" placeholder="Password">
		</div>
	</div>

	<a id="login" href="#" >登录</a>
</div>
</body>


<script type="text/javascript">
	const buttons = document.querySelectorAll('a');
	buttons.forEach(btn=>{
		btn.addEventListener('click',function(e){
			let x = e.clientX - e.target.offsetLeft;
			let y = e.clientY - e.target.offsetTop;
			let ripples = document.createElement('span');
			ripples.style.left = x + 'px';
			ripples.style.top = y + 'px';
			this.appendChild(ripples);
			setTimeout(()=>{
				ripples.remove()
			},600)
		})
	})

	$('#login').on('click',function () {
		var username = $("#username").val();
		var password = $("#password").val();
		var data = "username="+username+"&password="+password
		console.log(JSON.stringify(data))
		$.ajax({
			type : 'post',
			url : '/login',
			data : data,
			success : function(datas) {

				if(datas.authenticated == true){
					localStorage.clear();
					localStorage.setItem("userId", datas.principal.id);
					localStorage.setItem("username", datas.principal.username);
					localStorage.setItem("nickName", datas.principal.nickname);
					var authorities = datas.authorities;
					var permission = [];
					for(var i in authorities){
						permission.push(authorities[i].authority);
					}
					localStorage.setItem("permission", JSON.stringify(permission));
					location.href='/'
				}else{

				}
			},
			error : function(xhr, textStatus, errorThrown) {
				var msg = xhr.responseText;
				var response = JSON.parse(msg);
			}
		});
	})
</script>
</html>